body{
	background-color: Black;			/* Bagrunssfarge */
	color: red;						/* skriftfarge*/ 
	font-size: 15px;					/*skriftstørrelse*/
	font-family: "Arial";				/* skrifttype */
	padding-left: 11em;					/* Definerer størrelsen */
	}
	
ul.navbar {						 /* Definerer navigasjonsbaren */
  list-style-type: none;		 /* Fjerner punktene */
  padding: 0;						 /* …Setter padding til 0 */
  margin: 0;					 /* Definerer margin */
  position: absolute;			 /* Setter possisjon til absoulutt. Dvs den endrer seg ikke */
  top: 2em;						 /* Definerer 2em fra toppen */
  left: 1em;					 /* 1empå venstre side */
  width: 9em }						 /* Setter bredden */
h1 {									 /* Definerer hvordan h1 overskrift skal se ut */
  font-family: Helvetica, Geneva, Arial,			 /* Setter skriftype */
        SunSans-Regular, sans-serif }				 /* Setter skriftype */
ul.navbar li {											 /* Definerer navigasjonsbar */
  background: white;								 /* Setter bakgrunn hvit */
  margin: 0.5em 0;						 /* Setter margin */
  padding: 0.3em;						 /* Setter padding*/
  border-right: 1em solid black }		 /* Definerer ramme */
ul.navbar a {								 /* Setter navigasjonsbar*/
  text-decoration: none }				 /*  Fjerner strek*/
a:link {									 /* Linkene  */
  color: blue }							 /* Skal være blå */
a:visited {								 /* De som er trykka på */
  color: purple }						 /* Får fargen purple */
address {								 /* Definerer adress */
  margin-top: 1em;						 /* Setter margin top*/	
  padding-top: 1em;							 /* Padding top*/
  border-top: thin dotted }					 /* Setter rammen rundt */	
		
	
	